/* Add a black background color to the top navigation bar */  
  .topnavbar{ 
    background-color: #333;
    overflow: hidden;
  }
  
  /* style the links inside the navigation bar */
  .topnavbar a{
    float: left;
    color: #F2F2F2;
    text-align: center;
    padding: 14px 16px;
    text-decoraction: none;
    font: 400 18px Lato, sans-serif;
  }
  
  body.index {	
  background-image: url("flowers.png"); 
  /* Create the parallax scrolling effect */ 
  background-attachment: fixed; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; /* Resize the background image to cover the entire container */
  margin: 0 10%;
 }
 
  footer {
	  border-top: 1px solid #57b1dc;
	  text-align: center;
	  padding-top: 1em;
}
